*{
    padding: 0%;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
}

.header .header-logo {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.header .header-logo .bag {
    margin-top: 30px;
    color: orange;
}

.header .header-logo .eShop {
    margin-left: 20px;
    font-size: 50px;
}

.header .header-search {
   position: relative;
   top:70px;
   margin-left: 40px;
   font-size: 30px;

}

.header .header-nav {
    display: flex;
    flex-direction: row;

}
.header .header-nav-signin {
    margin-left: 500px;
    padding: 5px;
}

.header .header-nav-your-shop {
    margin-left: 20px;
}

.header .header-nav-cart{
   margin-left: 50px;
   margin-right: 80px;
   margin-top: 40px;
}
